.episodes-list-block {
    background: #010101;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.episodes-list {
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0;
}

.episodes-list__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.episodes-list__item:hover {
    cursor: pointer;
    box-shadow: 0 0 30px rgba(220, 20, 60, 0.5);
}

.episodes-list__item_active {
    cursor: default;
    box-shadow: 0 0 30px rgba(220, 20, 60, 0.5);
}

.episodes-list__item-img {
    width: 100%;
}

.episodes-list__item-name {
    font-size: 30px;
    margin: 0;
    color: crimson;
    padding: 10px;
}

.episodes-list__button {
    width: 200px;
    height: 50px;
    background: crimson;
    color: #fff;
    border: none;
    flex-shrink: 0;
    font-size: 20px;
    margin: 30px auto 0;
    text-transform: uppercase;
}

.episodes-list__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.episodes-list__button:disabled {
    cursor: not-allowed;
    background: #9F0013;
}

@media screen and (max-width: 1000px) {
    .episodes-list-block {
        padding: 10px;
    }

    .episodes-list {
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .episodes-list__item {
        gap: 0;
    }

    .episodes-list__item-name {
        font-size: 20px;
        padding: 5px 0 0;
    }
}